/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     /*border: 1px dotted gray;*/
     padding: 20px;
     background-image: url("../images/gplaypattern.png");
}

.screen{
     text-align: center;
     position: relative;
     background: none;
     margin-left: auto;
     margin-right: auto;
     margin-top: auto;
     margin-bottom: auto;
     vertical-align: middle;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron p.active {
     color: #1f6ddd;
}

.jumbotron:after {
     content:"";
     background: url("../images/IMG_0322.JPG");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}

.backButton{
     background-image: url("../images/back.gif");
     background-repeat: no-repeat;
     background-color: transparent;
     height: 66px;
     width: 182px;
     border: none;
}

.submitButton {
     background-color:transparent;
     -webkit-border-top-left-radius:5px;
     -moz-border-radius-topleft:5px;
     border-top-left-radius:5px;
     -webkit-border-top-right-radius:5px;
     -moz-border-radius-topright:5px;
     border-top-right-radius:5px;
     -webkit-border-bottom-right-radius:5px;
     -moz-border-radius-bottomright:5px;
     border-bottom-right-radius:5px;
     -webkit-border-bottom-left-radius:5px;
     -moz-border-radius-bottomleft:5px;
     border-bottom-left-radius:5px;
     text-indent:0;
     border:2px solid gray;
     display:inline-block;
     color:gray;
     font-family:Arial;
     font-size: medium;
     font-weight:normal;
     font-style:normal;
     height:100%;
     padding-top: 1%;
     padding-bottom: 1%;
     line-height:50%;
     width:120px;
     text-decoration:none;
     text-align:center;
}.submitButton:hover {
     background-color:#e9e9e9;
}.submitButton:active {
     position:relative;
     top:1px;
}

.headerbox {
    /* absolute center .splash within .splash-container */
    color: gray;
    border: 3px solid gray;
    padding: 1em 1.6em;
    border-radius: 5px;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    font-size: large;
    font-weight: 300;
}

.simple-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.simple-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}